    <section class="success" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Social</h2>
                    <hr class="star-light">
                </div>
            </div>
             <style> 
                 .tc {

                  text-align: center;
                 }
            </style>
            
            <a href="https://github.com/NateBrownProjects/TheHiveProject" class="btn btn-lg btn-outline text-center tc" class="tc">H.I.V.E</a> <br>
            <a href="https://github.com/NateBrownProjects/" class="btn btn-lg btn-outline text-center tc" class="tc">Nate Brown Projects</a> <br>
            <a href="https://github.com/NateBrownProjects/mmm-hive" class="btn btn-lg btn-outline text-center tc" class="tc">MMM-H.I.V.E </a> <br>
            <a href="https://github.com/NateBrownProjects/hiveonapi" class="btn btn-lg btn-outline text-center tc" class="tc">HiveOnAPi</a> <br>
            <a href="https://github.com/NateBrownProjects/hiveos" class="btn btn-lg btn-outline text-center tc" class="tc">H.I.V.E OS</a> <br>
            <a href="https://github.com/NateBrownProjects/hiveautomation" class="btn btn-lg btn-outline text-center tc" class="tc">H.I.V.E Automation</a> <br>
            <a href="https://www.redbubble.com/people/natebrown0782/shop" class="btn btn-lg btn-outline text-center tc" class="tc">RedBubble Shop</a> <br>
            
            
            
        
        </div>
    </section>
